<footer>
  <div class="grid-container">
    <div class="col-3">
      <p>&#xa9; Pan Studio <?php echo date("Y"); ?></p>
    </div>
    <div class="col-3 right">
      <a class="js-to-top"><%= I18n.t(:to_top) %></a>
    </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
<script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.js"></script>
<script src="/assets/<%= I18n.t(:country_code) %>.js"></script>
<!-- START OF SmartSource Data Collector TAG v10.2.29 -->
<!-- Copyright (c) 2012 Webtrends Inc.  All rights reserved. -->
<script>
window.webtrendsAsyncInit=function(){
    var dcs=new Webtrends.dcs().init({
       dcsid:" DOCPROPERTY  DCSId  \* MERGEFORMAT dcs2222b7rdbhbfbr3g99a7d4_3c3i",
        domain:"statse.webtrendslive.com",
        timezone:0,
        i18n:true,
        adimpressions:true,
        adsparam:"WT.ac",
        download:true,
        downloadtypes:"xls,doc,pdf,txt,csv,zip,docx,xlsx,rar,gzip,swf,mid,mp3",
        mailto:true,
        offsite:true,
        onsitedoms:" DOCPROPERTY  onsiteDoms  \* MERGEFORMAT salemastana2017.kz",
        fpcdom:". DOCPROPERTY  onsiteDoms  \* MERGEFORMAT salemastana2017.kz",
        plugins:{
            hm:{src:"//s.webtrends.com/js/webtrends.hm.js"}
        }
        });
        dcs.track();
};
(function(){
    var s=document.createElement("script"); s.async=true; s.src="/assets/webtrends.min.js";
    var s2=document.getElementsByTagName("script")[0]; s2.parentNode.insertBefore(s,s2);
}());
</script>
<noscript><img alt="DCSIMG" id="DCSIMG" width="1" height="1" src="http://statse.webtrendslive.com/ DOCPROPERTY  DCSId  \* MERGEFORMAT dcs2222b7rdbhbfbr3g99a7d4_3c3i/njs.gif?dcssip= DOCPROPERTY  onsiteDoms  \* MERGEFORMAT salemastana2017.kz&amp;dcsuri=/nojavascript&amp;WT.dl=0&amp;WT.es= DOCPROPERTY  onsiteDoms  \* MERGEFORMAT salemastana2017.kz/nojavascript&amp;WT.js=No&amp;WT.tv=BC.nojs.1"/></noscript>
<!-- END OF SmartSource Data Collector TAG v10.2.29 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        nextButton: '.swiper-button-next',
        loop: true,
        prevButton: '.swiper-button-prev',
        spaceBetween: 30,
        autoplay: 10000
    });
</script>
