<header>
	<div class="grid-container">
		<a href="#" class="logo"><%= I18n.t(:logo) %></a>
		<nav class="country-picker">
			<ul>
				<li><a class="kz" href="/kz/"></a></li>
				<li><a class="ru" href="/ru/"></a></li>
				<li><a class="en" href="/en/"></a></li>
			</ul>
		</nav>
		<nav class="menu">
			<ul>
				<li><a href="#how-it-works">How It Works</a></li>
				<li><a href="#information">Information</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</nav>
		
	</div>
</header>
<!-- <header>
  <div class="grid-container">
    <div class="col-3">
      <img src="images/logo.svg">
    </div>
    <a class="js-video-pause link-exit"></a>
  </div>
</header> -->