<script src="/assets/classList.js"></script>
<script src="/assets/conversation_demo.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var conversation_demo = new ConversationDemo();
  })
</script>
<article class="homepage">
    <section class="holding">
      <div class="grid-container">
        <div class="col-4">
          <%= I18n.t(:logo) %>
        </div>
      </div>
    </section>
  </article>
